git+https://github.com/CrystalEye42/OpenChemIE
pillow==9.5.0
boto3~=1.23.10
requests~=2.31.0
torch~=1.13.1
setuptools~=65.6.3
numpy~=1.26.0
opencv-python~=4.5.5.64
layoutparser~=0.3.4
pdf2image~=1.17.0
huggingface_hub~=0.17.2
molscribe~=1.1.1
rxnscribe~=1.0
chemiener~=0.1.0
chemrxnextractor~=1.1.0
matplotlib~=3.9.2
pandas~=2.1.1
pdfminer-six~=20231228
pypdf2~=2.10.5
pdftotext~=2.2.2